@font-face {
  font-family: PTRootUIWebLight;
  src: url('/fonts/PT-Root-UI_Light.woff') format('woff');
}

@font-face {
  font-family: ptRegular;
  src: url('/fonts/PT-Root-UI_Regular.woff');
}

@font-face {
  font-family: ptMedium;
  src: url('/fonts/PT-Root-UI_Medium.woff');
}

@font-face {
  font-family: ptBold;
  src: url('/fonts/PT-Root-UI_Bold.woff');
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --dk-grey: rgba(0, 0, 0, 0.6);
  --light-grey: rgba(0, 0, 0, 0.125);
  --nouns-beige: #e1d7d5;
  --display-font: 'Londrina Solid', Verdana, Geneva, sans-serif;
  --ui-font: 'PT Root UI', Verdana, Geneva, sans-serif;
}
